<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <title>ToDo One Off</title>
    <link rel='stylesheet' type='text/css' href='/css/bootstrap.css'> 

    <title>{% block title %}Home{% endblock %}</title>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="'navbar">
        <div class="navbar-nav">
            {% if user.is_authenticated %}
            <button class="btn btn-outline-light" style="padding: 0 20px; margin: 0 20px;"id="user_name">{{user.user_name}}</button>
            <a class="nav-item nav-link" id="home" href="/">Home</a>
            <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>

            {% else %}
            <a class="nav-item nav-link" id="login" href="/login">Login</a>
            <a class="nav-item nav-link" id="signUp" href="/signup">Sign Up</a>
            {% endif %}
            
        </div>
    </div>
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        {% if category == 'error' %}
            <div class="alert alert-danger alert-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% else %}
            <div class="alert alert-success alert-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% endwith%}

<div class="container">
{% block content %}
{% endblock %}
</div>

</body>
</html>